<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZDXCondenseStudy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>547D7D161E680614003D3111</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>547D7D2F1E680615003D3111</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>547D7D3A1E680615003D3111</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
