<?xml version="1.0" encoding="utf-8"?>
<Root>
<List>
<Item name="app_id" value="com_wondertek_paper" />
<Item name="app_name" value="澎湃" />
<Item name="app_version" value="3.9.0" />
<Item name="app_versionCode" value="390" />
<Item name="sdk_version" value="2.12.00" />
<Item name="module_language" value="Lua" />
<Item name="company_url" value="http://www.wondertek.com.cn" />
<Item name="wduseragent" value="" />
<Item name="wduuid" value="" />
<Item name="wdresolution" value=""/>
<Item name="base_resolution" value="640*1136" />
<Item name="platform" value="ios" />
<Item name="wdclienttype" value="04" />
<Item name="wd_channel" value="thepapercn" />
<Item name="server" value="http://101.231.211.82/clt/"/>
<Item name="token" value="" />
<Item name="userId" value="" />
<Item name="isFirstTime" value="1" />
<Item name="isLogin" value="0" />
<Item name="isPicMode" value="1" />
<Item name="isWlan" value=""/>
<Item name="isNightMode"  value="0" />
<Item name="pushMsg"  value="1"/>
<Item name="isSmartMode" value="0" />
<Item name="fontFamily" value="1"/>
<Item name="fontSizeLevel" value="3"/>
<Item name="indexDispTime" value="0"/>
<Item name="itunesId" value="878962716" />
<Item name="isSocialLogin" value="0" />
<Item name="ishomeHelpShow" value="0" />
<Item name="isOrderHelpShow" value="0" />
<Item name="isDetailHelpShow" value="0" />
<Item name="isConcernDialogShow" value="0" />
<Item name="autoRefreshTime" value="3600" />
<Item name="isUpgradeTips" value="1" />
<Item name="noTipsVersion" value="0" />
<Item name="isAnonymous" value="0" />
<Item name="android_AdId" value="2059" />
<Item name="ios_AdId" value="2060" />
<Item name="isHomeSmartPromptShow" value="0" />
<Item name="enter_detail_time" value="0" />
<Item name="umPush_idfa" value="" />
<Item name="umPush_token" value="" />
<Item name="isSetPwd" value="" />
<Item name="sname" value="" />
<Item name="userPicSrc" value="" />
<Item name="lastVersionCode" value="" />

</List>
</Root>
